/* CSS Resets */


html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, rem, img, ins, q, small, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	padding: 0
}
article, aside, figure, figure img, figcaption, hgroup, footer, header, nav, section, video, object {
	display: block
}
a img {	border: 0}
figure {position: relative; margin: 0; width: 100%}
figure img {width: 100%; height: auto; margin: 40px 0; display: block;}

html { margin: 0 !important;}



h1, h2, h3, h4, h5, h6 {margin: 0;}
.display {font-weight: 400; color: var(--color-contraste); font-family: var(--display-font); text-transform: uppercase; line-height: 1.2;}
.alt-font {font-family: var(--second-font); text-transform: uppercase;}

h1 {font-weight: 700; font-size: 64px; line-height: 1; }
h2 {font-weight: 700; font-size: 40px; line-height: 1;  }
h3 {font-weight: 500; font-size: 32px; margin: 0}
h4 {font-weight: 500; font-size: 20px; color: var(--color-contraste)}
h5 {font-weight: 600; font-size: 12px; text-transform: uppercase; }
h6 {font-weight: 300; font-size: .75rem; text-transform: uppercase; color: var(--color-contraste)}

ul { list-style: none; margin: 0;}
ol {margin-left: 40px; margin-bottom: 40px;}
ol li {margin-bottom: 20px;}
ul.children { margin-left: 15px;}
ul.children li:last-child {padding: 0 0 0 0 !important;}
a, a:hover { text-decoration: none;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;}
a:hover {font-weight: 600}
a, .nav li a {
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	color: var(--texto-menu);
}

hr {border: 0; border-top: 3px solid var(--franja-header); display: inline-block; width: 100%; margin: 2rem 0}

p {line-height: 1.5;font-weight: 400; font-size: 1.25rem;  margin: 0 0 0px;}



.flex {display: flex; width: 100%; }
.wrap {flex-wrap: wrap;}
.col {flex-direction: column !important;}
.row {flex-direction: row !important;}
.flex.rev {flex-direction: row-reverse;}
.flex.center {align-items: center; justify-content: center;}
.flex.start {align-items: start;}
.flex.row.end {align-items: flex-end;}
.flex.col.end {align-items: center; justify-content: flex-end;}
.flex.col.end.end {align-items: flex-end; justify-content: flex-end;}
.flex.row.end {justify-content: flex-end;}
.space {justify-content: space-between !important;}
.flex.col.space.end {align-items: flex-end;justify-content: space-between; }
.flex.col.center.end {align-items: flex-end; justify-content: center; }

.g1 {gap: 1rem !important}
.g2 {gap: 2rem !important}
.g3 {gap: 3rem !important}
.g4 {gap: 4rem !important}
.g8 {gap: 8rem !important}


body {
    overflow-x: hidden;
    background-color: var(--terra);
    max-width: 100vw;
    font-family: var(--main-font);
    font-weight: 400;
    font-style: normal;
    color: var(--color-contraste);
    min-height: 100vh;
    line-height: 1.5;
    letter-spacing: 1px;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 16pt;
    align-content: center
}

body.freeze {overflow: hidden;}


/* LOGO */

.logo {display: inline-flex; max-width: 20vw; flex: 1; display: inline-flex; justify-content: flex-start; align-items: center; align-self: stretch; min-height: 120px;}
.logo figure {height: auto; background-size: contain; align-self: stretch; background-position: 50%}


/*  HEADER */

header {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px;
    height: 100px;
    z-index: 4;
    background-color: transparent;
    align-content: center;
    -webkit-transition: 600ms;
    -moz-transition: 600ms;
    -o-transition: 600ms;
    -ms-transition: 600ms;
    transition: 600ms;
	/* mix-blend-mode: difference; */
    /* border-bottom: 1px solid var(--g1); */
}

header a#menu {
    position: relative;
    display: none;
    font-size: 2rem;
    text-transform: lowercase;
    font-weight: 200;
    cursor: pointer;
    color: var(--icono-menu);
    z-index: 8;
}

header a#menu:hover {
    color: var(--color-contraste)
}


header.act {
    mix-blend-mode: inherit;
    background-color: transparent;
    min-height:auto;
    align-items: flex-start;
    -webkit-transition: 600ms;
    -moz-transition: 600ms;
    -o-transition: 600ms;
    -ms-transition: 600ms;
    transition: 600ms;
    height: 100vh;
    /* background-color: rgb(255,255,255,0.25) */
}


header.act a#menu i.fa-bars:before {
    content: "\58"
}


header.act .menu {display: flex; top: 7rem; opacity: 1;}
header.act .menu ul {flex-direction: column;}

header .espacio {
    padding: 3rem 4rem;
    gap: 0rem;
    z-index: 3;
    width: min(calc(100% - 8rem),1440px);
    max-width: 1440px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex: 1 1;
    position: relative;
    -webkit-transition: 600ms;
    -moz-transition: 600ms;
    -o-transition: 600ms;
    -ms-transition: 600ms;
    transition: 600ms;
}



header .logo { flex: auto; height: auto; min-height: 20vh; flex: 1 1 50%; max-width: 70vw;}

header .espacio .der,
header .espacio .izq {display: inline-flex; flex-direction: row; flex-wrap: wrap; align-items: center; gap: 2rem; flex: 1 0 25% }

header .espacio .der {justify-content: flex-end}

header .menu {display: inline-flex; flex-direction: row; flex-wrap: wrap; min-height: 2rem;align-items: center; gap: 0; z-index: 2; justify-content: center; flex: auto}

header .espacio nav ul { display: inline-flex; gap: 0;
    color: var(--blanco);
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.10), 0 1.5px 8px 0 rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(15px);
    background-color: var(--bg-menu);
    border-radius: 1.5rem;
    flex-direction: row; flex-wrap: wrap; position: absolute; align-items: flex-start; }

header .espacio nav ul li {display: inline-flex; flex-direction: column; width: auto; list-style: none; vertical-align: top; cursor: pointer; text-transform: uppercase;
    -webkit-transition:400ms; -moz-transition:400ms; -o-transition:400ms; -ms-transition:400ms; transition:400ms;  position: relative; }
   
    header .espacio nav ul li a {font-size: 1rem;
        font-family: var(--display-font);
        font-weight: 300; text-align: left; cursor: pointer; color: var(--color-menu); display: flex; flex-direction: row; align-items: center; justify-content: center;}
    header .espacio nav ul li i { display: inline-block; margin-left: 10px}
    header .espacio nav li.acti {color: #000; font-weight: 600}
    header .espacio nav ul li h3 {color: #fff; font-weight: 300; display: inline-block}
    
    header .espacio nav ul li:first-child a {
        border-radius: 1.5rem 0 0 1.5rem;
    }
    header .espacio nav ul li:last-child a {
        border-radius: 0 1.5rem 1.5rem 0;
    }


    header .espacio nav>ul>li>ul { display: none; background-color: var(--bg-submenu);  height: auto; padding:0; width: 100%; min-width: 188px;
        box-shadow: 0px 115px 32px 0px rgba(0, 0, 0, 0.00), 0px 74px 29px 0px rgba(0, 0, 0, 0.01), 0px 41px 25px 0px rgba(0, 0, 0, 0.05), 0px 18px 18px 0px rgba(0, 0, 0, 0.09), 0px 5px 10px 0px rgba(0, 0, 0, 0.10);
        position: absolute; top: 2.5rem;
        flex-direction: column;
        gap: 0;
    }
    
    
    header .espacio nav>ul>li>ul>li { cursor: pointer;
        display: inline-flex; 
        align-items: center;
        gap: 0;
        min-width: 100%;
        width: calc(100% - 2rem);
        align-self: stretch;
    }
    
    header .espacio nav>ul>li>ul>li a {
        width: calc(100% - 2rem);
        display: inline-flex;
        align-self: stretch;
        flex-direction: row; gap: 0;
        padding: .25rem 1rem; align-items: flex-start;}
        
        header .espacio nav>ul>li>ul>li h5 {margin: 0; font-weight: 400;}
        header .espacio nav>ul>li>ul>li span {color: #4B4B4B; font-size: 13px; font-style: normal; font-weight: 400;}
        header .espacio nav>ul>li>ul>li .thumbMenu {width: 4rem; height: 4rem; background-size: cover; background-repeat: no-repeat; background-position: center; border-radius: 8px; margin-right: 1rem}
        header .espacio nav>ul>li>ul>li .menuInfo {display: flex; flex-direction: column; gap: 4px; align-items: flex-start; padding: .5rem 0; align-self: stretch; justify-content: center;}
        header .espacio nav>ul>li>ul>li .menuInfo a {flex-direction: column; align-items: flex-start;}
        header .espacio nav>ul>li>ul>li .menuInfo span.boton {font-weight: 700; border-bottom: 1px solid #000; font-size: 12px}
        
        
        header nav.redes {display: inline-flex; flex-direction: row; gap: 2rem; align-items: flex-start; justify-content: center;}

        header nav.redes a {color: var(--iconos-redes); font-size: 2rem }
		body#aviso-de-privacidad header nav.redes a,
		body#aviso-de-privacidad header span.boton a {color: var(--terra);}

        header nav.redes a:hover {color: var(--hover-menu)}


        
        nav.menu a {font-size: var(--texto-menu); 
            color: var(--color-contraste); font-weight: 300; padding: 1rem 2rem;
        background-color: rgba(207, 207, 207, 0.453);
            border-radius: 0;
        }
        nav.menu a:hover { background-color: var(--color-contraste); color: var(--color-hover-menu)}
        
        
        /* Header Menú */
   
            
            
    .whatsapp.fijo {position: fixed; bottom: 2rem; right: 3rem; display: flex; flex-direction: column; align-items: center; justify-content: center; z-index: 999; height: 3rem; width: 2rem;}
    .whatsapp.fijo a {border-radius: 50%; background-color: var(--icono-wa);padding: 1rem;  transform: scale(1); text-align: center;
    box-shadow: 0px 115px 32px 0px rgba(0, 0, 0, 0.00), 0px 74px 29px 0px rgba(0, 0, 0, 0.01), 0px 41px 25px 0px rgba(0, 0, 0, 0.05), 0px 18px 18px 0px rgba(0, 0, 0, 0.09), 0px 5px 10px 0px rgba(0, 0, 0, 0.10);
    }
    .whatsapp.fijo a i {font-size: 2.5rem;color: var(--blanco); max-width: 2rem; max-height: 2rem; min-width: 30px; display: flex; align-items: center; justify-content: center; text-align: center;}
    .whatsapp.fijo a:hover {background-color: var(--color-principal); transform: scale(1.1);}
    

/* Footer */

footer {background-color: var(--bg-footer); color: var(--blanco);min-height: 50vh; position: fixed; display: flex; bottom: 0; display: flex; width: 100%; z-index: 0; justify-content: center;align-items: center}
footer .espacio {position: relative; width: calc(100% - 8rem); max-width: 1440px; display: flex; flex-direction: row; flex-wrap: wrap; align-items: flex-start; gap: 1rem; }
footer .columna.cuatro { align-self: stretch;justify-content: start; gap: 1rem}
footer .columna.dos {gap: 1rem;}

footer .columna.contacto {justify-content: end;}
footer .logo {min-height: 150px; background-position: 0 50%}

footer :is(.display, h1, h2, h3, h4, h5, h6){color: var(--cremita-med)}

footer a {font-size: 1rem}

footer nav.menu {display: flex; flex-direction: column; gap: 0; align-items: flex-start; }
footer nav.menu a {font-weight: 400;  padding: 0 0 .25rem; border-bottom: 1px solid var(--bg-foter); background-color: transparent}
footer nav.menu a:hover {border: 0; background-color:transparent;  border-bottom: 1px solid var(--texto-footer) !important}

footer .newsletter input {
    flex: auto;
    border-radius: 0;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    color: #fff;
}


footer .newsletter form button {
    flex: auto;
    padding: 1rem;
    border-radius: 0;
    max-width: 3rem;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

footer .newsletter form button:hover {
    background-color: var(--color-principal);
    color: var(--color-contraste);
}



footer .columna {gap: 0}
footer .columna h4.display {letter-spacing: 1px;}
footer .columna p {line-height: 1.5; font-size: 10pt;color: var(--color-claro)}

footer .columna h2 {color: var(--color-claro); font-weight: 700; font-size: 32pt}
footer .columna.contacto {align-items: flex-end;}

footer nav.redes {display: inline-flex; flex-direction: row; gap: 2rem}
footer nav.redes a {color: #fff;}
footer nav.redes i {font-size: 24px}

footer .correo span.boton i {font-size: 32px}



.copyright {float: right; position: fixed; bottom: 0; right: 0;}
.copyright p {font-size: 10pt; font-weight: 700; margin-right: 80px}



/* Botones */

span.boton {
    padding: 0;
    width: auto;
    display: inline-flex;
    gap: 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: var(--texto-menu);
    position: relative;
    cursor: pointer;
    font-weight: 500;
    -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
}

span.boton:hover {
    -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
}

span.precio {
    font-size: var(--texto-precio);
    font-weight: 600
}

span.boton a {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    text-transform: uppercase;
    font-size: 12px;
    align-items: center;
    color: var(--texto-boton-1);
    background-color: var(--boton-1);
    border: 1px solid var(--boton-1);
    padding: 1rem 2rem;
    align-items: center;
    font-weight: 400;
    border-radius: 1.25rem;
}

span.boton:hover a {
    background-color: var(--hover-boton-1);
    border-color: var(--hover-boton-1);
    color: var(--texto-hover-boton-1);
}

span.boton.alt a {
    color: var(--texto-boton-2);
    background-color: var(--color-secundario);
    border: 1px solid var(--color-secundario);
}

span.boton.alt:hover a {
    background-color: var(--complemento);
    border-color: var(--complemento);
    color: var(--texto-hover-boton-2);
}

span.boton.alt2 a {
    background-color: var(--boton-1);
    border: 0;
    color: var(--text-boton-1);
}

span.boton.alt2:hover a {
    background-color: var(--hover-boton-1);
    color: var(--texto-hover-boton-1)
}


span.boton.alt3 {background-color: transparent}
span.boton.alt3 a {background-color: transparent; color: var(--texto-boton-4); border: 1px solid var(--borde-boton-4)}
span.boton.alt3:hover a {background-color: var(--hover-boton-4); color: var(--texto-hover-boton-4)}


/* Estructura */

main {position: relative; width: calc(100% - 0px); display: flex; flex-direction: row; flex-wrap: wrap; z-index: 1; background-color: var(--terra); align-content: center; margin-bottom: 50vh}

section {width: 100%; display: flex; flex-direction: column; flex-wrap: wrap; align-items: center; justify-content: center; padding: 0; min-height: auto; position: relative; background-color: var(--blanco)}
.contenedor {display: flex; flex-direction: row; flex-wrap: wrap; align-items: center; justify-content: center; width: min(calc(100% - 8rem), 1440px); padding: 4rem; gap: 2rem; z-index: 10;}


section aside {width: 50%; flex: 1 1; align-self: stretch; display: flexterrairection: column; flex-wrap: wrap; align-items: center; justify-content: center;}
section blockquote {margin: 0px; font-size: 16pt; font-weight: 700; display: inline-flex; flex-direction: column; gap: 1rem; width: calc(100% - 8rem); padding: 4rem; }


.columna {width: 100%; margin: 0; position: relative; height: auto; gap: 1rem; display: flex; flex-direction: column;}

.columna.uno {width: calc(100% - 16rem); padding: 0rem 8rem}
.columna.dos {width: calc(50% - 40px); gap: 2rem; flex: 1 1;}
.columna.dos .fotograma {position: relative; display: block; margin: 0 0 40px}

.cajatexto {width: calc(100% - 160px); padding: 80px; position: relative;}

.columna.tres {width: calc((100% / 3) - 2px); flex: 1 1 0}
.columna.tercio {width: calc((100% / 3)*2 - 3px);display: inline-block;}
.columna.cuatro {width: calc((100% / 4) - 2px); flex: 1 1 0}


.encabezado { position: relative; display: inline-flex; flex: 1 1 100%;  width: 100%; padding: 0; z-index: 8; margin: 0; gap: 10px; flex-direction: column; color: var(--color-contraste); text-align: left;}

/* Imágenes */

figure {background-position: center; background-repeat: no-repeat; background-size: cover;}
figure.fotograma {min-height: 75vh; }
figure.imagen {height: min(60vh, 540px); }
figure.thumb {height: min(15vh, 180px); max-width: 120px;}
figure.icono {min-height: 4rem; max-width: 4rem; background-size: contain}
figure.logo {height: min(5vh, 80px); background-size: contain}
figure.imagenfondo {position: absolute; z-index: 0; width: 100%; height: 100%;}
figure.portada {position: fixed; top: 0; left: 0; min-width: 100vw; min-height: 100vh}




/* Cuadrículas */

ul.grid {width: 100%; display: grid; list-style: none !important; fit-content; margin: 0; align-items: start; grid-template-columns: repeat(12, 4fr); gap: 0}
ul.grid.uno li {grid-column: span 12;}
ul.grid.dos li { grid-column: span 6; }
ul.grid.tres li { grid-column: span 4; }
ul.grid.cuatro li { grid-column: span 3; }

ul.grid li {display: inline-flex; flex-direction: column; flex: 1 1 0; align-items: center; justify-content: center; margin: 0 !important; gap: 2rem; cursor: pointer;
-webkit-transition: 600ms;
    -moz-transition: 600ms;
    -o-transition: 600ms;
    -ms-transition: 600ms;
    transition: 600ms;
}

ul.grid li:hover {
    -webkit-transition: 600ms;
    -moz-transition: 600ms;
    -o-transition: 600ms;
    -ms-transition: 600ms;
    transition: 600ms;
}

ul.grid li a {flex: 1 1; display: inline-flex; position: relative}

ul.grid li .thumb {min-height: 240px; width: 100%; background-position: center; background-repeat: no-repeat;}
ul.grid li span {font-size: 14pt; text-align: left; display: block}


section .fondo {position: absolute; z-index: 1; width: 100%; height: 100%;}

/* Formularios */


section form {display: flex; flex-direction: column; gap: 1rem}

input,
select,
button {border-radius: 8px; background-color: transparent; width: auto; padding: .25rem 1rem; border: 1px solid #ccc; min-height: 40px;font-size: 12px; font-weight: 400; display: inline-flex;
flex: 1 1; color: var(--color-contraste);font-family: var(--main-font);}

section textarea {border: 1px solid var(--color-contraste); border-radius: 4px; width: 100%; min-height: 180px; margin: 20px 0;
 background-color: transparent; font-weight: 400; padding: .5rem; font-size: 14px; color: var(--color-claro); border-radius: 4px}

section input::placeholder {
	color: #ccc; letter-spacing: 2px; font-family: var(--main-font);
}

section select {min-height: 40px; cursor: pointer; font-weight: 400; font-size: 16px; padding: .75rem}

section form button,
section form input[type="submit" i],
section form .cart-action button {
		padding: 1rem 2rem;
		font-size: 12px;
		font-weight: 300;
        border-radius: .5rem;
		letter-spacing: 2px;
		color: var(--texto-boton-2);
        border: 0;
		margin: 1rem 0;
		cursor: pointer;
		justify-content: center;
		border-color:var(--boton-2);
        align-items: center;
		background-color: var(--boton-2);
		font-family: var(--main-font);
		text-transform: uppercase;
		-moz-transition: all 0.2s ease-in;
		-webkit-transition: all 0.2s ease-in;
		-o-transition: all 0.2s ease-in;
		transition: all 0.2s ease-in;
		-ms-transition: all 0.2s ease-in;
}

section form button:disabled,
section form button:disabled :hover {background-color: var(--boton-1); color: var(--texto-boton-1)}


section form button:hover,
section form input[type="submit" i]:hover,
section form .cart-action button:hover {
	background-color: var(--hover-boton-2);
	color: var(--texto-hover-boton-2);
    -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
}


.notification {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%) translateY(-100px);
            background: var(--color-secundario);
            color: var(--color-principal);
            padding: .5rem 1rem;
            min-width: 180px;
            border-radius: 5px;
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
            transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
            z-index: 1000;
            font-weight: 500;
            display: flex;
            align-items: center;
            gap: 1rem;
            opacity: 0;
            visibility: hidden;
        }
        
        .notification.show {
            opacity: 1;
            visibility: visible;
            transform: translateX(-50%) translateY(0);
        }
        
        .notification.fade-out {
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.4s ease-out, visibility 0.4s ease-out;
        }
        



section form h1,
section form h2,
section form h4 {flex: 0 1 100%}


/* Páginas */

section.pagina {padding-top: 0; height: min(auto, calc(100vh - 240px));}
section.pagina .contenedor {align-items: flex-start; padding: 4rem; gap: 4rem; }
section.pagina.std .contenedor {width: min(calc(100% - 8rem), 720px); padding-top: 8rem}
section.pagina.std h1 {font-size: 2rem; font-family: var(--display-font); font-weight:400 }
section.pagina.std :is(p, li) {text-align: justify; text-align-last: left; line-height: 2}
section.pagina.std ol li {text-align: left; text-align-last: inherit}
section.pagina.std h3 {margin: 2rem 0 .5rem}
section.pagina.std a {color: var(--color-links);font-weight: 700}

:is(section.pagina.std b, section.pagina.std p, section.pagina.std ul, section.pagina.std strong, section.pagina.std h2){color: var(--color-contraste)}
section.pagina .contenedor .encabezado {text-align: center;}
section.pagina ul{list-style: inherit;}
section.pagina ul li {margin-bottom: 10px; margin-left: 20px; font-weight: 400; font-size: 1rem; }


.espaciovideo {
position: relative;
width: 100vw;
min-height: 100vh;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
background: #000;
overflow: hidden;
}

.espaciovideo video {
width: 100vw;
height: 100vh;
object-fit: cover;
aspect-ratio: 16 / 9;
background: #000;
display: block;
z-index: 1;
}

@media (max-aspect-ratio: 16/9) {
.espaciovideo video {
    width: 100vw;
}
}

@media (min-aspect-ratio: 16/9) {
.espaciovideo video {
    width: 100vw;
    height: 100vh;
}
}


#preloader {
    width: 100%; min-height: calc(100vh - 130px); overflow: hidden; z-index: 8888;
    display: flex; flex-direction: column; align-items: center; justify-content: center;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 2px solid var(--color-contraste);
  border-top: 2px solid var(--color-principal);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.error {
  color: #ff0000;
  text-align: center;
  padding: 20px;
}


#modalInfo {
    position: fixed;
    z-index: 888;
    width: 100vw;
    display: none;
    height: 100vh;
    top: 0; left: 0;
    flex-direction: column;
    align-items: center; justify-content: center;
    background-color: rgba(255,255,255,.08);
    backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
		-moz-transition: all 0.2s ease-in;
		-webkit-transition: all 0.2s ease-in;
		-o-transition: all 0.2s ease-in;
		transition: all 0.2s ease-in;
		-ms-transition: all 0.2s ease-in;
}
#modalInfo.act {display: flex;
    	-moz-transition: all 0.2s ease-in;
		-webkit-transition: all 0.2s ease-in;
		-o-transition: all 0.2s ease-in;
		transition: all 0.2s ease-in;
		-ms-transition: all 0.2s ease-in;
    
}

#modalInfo .contenedor{ width: min(calc(100% - 8rem), 640px); gap: 2rem; padding: 3rem 2rem; background-color: var(--blanco); border-radius: 8px; border: 1px solid #ccc;}

#modalInfo .contenedor .cuidados {display: none; align-items: center; justify-content: space-between;}
#modalInfo.act .contenedor .cuidados {display: flex;}

#modalInfo .cuidados .flex.row figure {
flex: 0 1 5rem;
    min-height: 80px;
    min-width: 0rem;
    height: 4rem;
    background-size: 80%;
    max-width: inherit;
}

#modalInfo .cuidados .flex.row .flex.col{flex: 0 1 calc(100% - 6rem); align-items: start; justify-content: center;}


/* Si es <button> o <input type="submit"> */
button,
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none !important;     /* evita estilos nativos de iOS */
}

/* Al hacer tap/click (puntero), quita el anillo */
button:focus,
input[type="button"]:focus,
input[type="submit"]:focus {
  outline: none;
  box-shadow: none;
}

/* Solo cuando el usuario navega con teclado, muestra un focus propio */
button:focus-visible,
input[type="button"]:focus-visible,
input[type="submit"]:focus-visible {
  outline:4px solid var(--color-principal) !important;   /* tu color */
  outline-offset: 0px;
	border: 0 !important;
  box-shadow: none;
}

/* Si usas enlaces como botón */
a[role="button"]:focus { outline: none; box-shadow: none; }
a[role="button"]:focus-visible { outline: 2px solid var(--color-secundario); outline-offset: 3px; }

/* (Opcional) desactiva el destello de tap de iOS */
button, a { -webkit-tap-highlight-color: transparent; }
